@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

.after\:hash::after {
  content: '#';
}
code {
  @apply text-purple-600 tracking-tight;
}

code[class*='language-'],
pre[class*='language-'] {
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  hyphens: none;
  color: inherit;
  text-shadow: none;
  font-family: 'Fira Code', monospace;
  font-size: 1em;
  line-height: 1.5em;
  tab-size: 4;
}

code[class*='language-']::-moz-selection,
pre[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection,
pre[class*='language-'] ::-moz-selection {
  text-shadow: none;
  opacity: 1;
  @apply bg-black bg-opacity-80 text-white;
}

code[class*='language-']::selection,
pre[class*='language-']::selection,
code[class*='language-'] ::selection,
pre[class*='language-'] ::selection {
  text-shadow: none;
  opacity: 1;
  @apply bg-black bg-opacity-80 text-white;
}

@media print {
  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none !important;
  }
}

:not(pre) > code[class*='language-'] {
  white-space: normal;
  border-radius: 0.2em;
  padding: 0.1em;
  @apply bg-black bg-opacity-80 text-white;
}

pre > code[class*='language-'] {
  background: none;
}

pre[class*='language-'] {
  overflow: auto;
  position: relative;
  border-radius: 0;
  padding: 1.25em 1em;
  @apply bg-black bg-opacity-80 text-white;
}

pre[class*='language-'].language-css > code,
pre[class*='language-'].language-sass > code,
pre[class*='language-'].language-scss > code {
  color: #fd9170;
}

[class*='language-'] .namespace {
  opacity: 0.7;
}

.token.atrule {
  color: #c792ea;
}

.token.attr-name {
  @apply text-light-blue-500;
  font-style: italic;
}

.token.attr-value {
  @apply text-lime-500;
}

.token.attribute {
  color: #c3e88d;
}

.token.boolean {
  color: #c792ea;
}

.token.builtin {
  color: #ffcb6b;
}

.token.cdata {
  color: #80cbc4;
}

.token.char {
  color: #80cbc4;
}

.token.class {
  color: #ffcb6b;
}

.token.class-name {
  @apply text-yellow-300;
}

.token.color {
  color: #f2ff00;
}

.token.comment {
  font-style: italic;
  @apply text-gray-500;
}

.token.constant {
  color: #c792ea;
}

.token.deleted {
  color: #f07178;
}

.token.doctype {
  color: #546e7a;
}

.token.entity {
  color: #f07178;
}

.token.function {
  @apply text-yellow-500;
}

.token.hexcode {
  color: #f2ff00;
}

.token.id {
  color: #c792ea;
  font-weight: bold;
}

.token.important {
  color: #c792ea;
  font-weight: bold;
}

.token.inserted {
  color: #80cbc4;
}

.token.keyword {
  font-style: italic;
  @apply text-purple-500;
}

.token.number {
  color: #fd9170;
}

.token.operator {
  color: #89ddff;
}

.token.prolog {
  color: #546e7a;
}

.token.property {
  color: #80cbc4;
}

.token.pseudo-class {
  color: #c3e88d;
}

.token.pseudo-element {
  color: #c3e88d;
}

.token.punctuation {
  @apply text-light-blue-200;
}

.token.regex {
  color: #f2ff00;
}

.token.selector {
  color: #f07178;
}

.token.string {
  @apply text-lime-400;
}

.token.symbol {
  color: #c792ea;
}

.token.tag {
  @apply text-fuchsia-500;
}

.token.unit {
  color: #f07178;
}

.token.url {
  color: #fd9170;
}

.token.variable {
  color: #f07178;
}
